{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zonde</title>

    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<style type="text/css">
body{
    line-height:1.6;
    font-size:18px;
    color:#454545;
    padding:0 10px;
    font-family: "Open Sans";
}
h1,h2,h3{
    line-height:1.2
    }
</style>

<body style="">
    <header>

    </header>
    {% block content %}{% endblock %}

</body>

</html>
