{% extends 'zonde_app/base.html' %}{% load static %}

{% block content %}

<main id="app">
The latest 250 probe requests are displayed here.

<table>
  <tr>
    <th>SSID</th>
    <th>MAC</th>
    <th>Time</th>
  </tr>

{% for probe_r in probes %}
<tr>
  <td style="padding-right:8px;">{{ probe_r.ssid.ssid }}
  <td style="padding-right:8px;">{{ probe_r.client.mac }}
  <td>{{ probe_r.timestamp }}
</tr>

{% endfor %}
</table>

<div id="map" style="height: 50vh; width: 100vw;"></div>
</main>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK_Ia9gGgZWEKQPvXbixHo1lJObmegoOs&callback=initMap"></script>
<script src="{% static 'js/index.js'%}"></script>

{% endblock %}
